<div class="row">
    <div class="col-md-6">
        <h5><i class="fa fa-users"></i> {{'Persons' | translate}} : {{ persons.length }}</h5>
    </div>
    <div class="col-md-6">
        <h5 class="pull-right">{{'Total-Balance' | translate}}: {{totalBalance | currency:"USD":true}}</h5>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <table id="personData" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th>
                    <th>{{'Email' | translate}}</th>
                    <th>{{'Phone' | translate}}</th>
                    <th>{{'Balance' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of persons">
                    <th>{{person?.firstName}} {{person?.lastName}}</th>
                    <th>{{person?.email}}</th>
                    <th>{{person?.phone}}</th>
                    <th>{{person?.balance | currency:"USD":true}}</th>
                    <th><a href="" [routerLink]="['/person-detail/' + person?.$key]" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> {{'Details' | translate}}</a></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>