<div class="page-footer" style="margin-top: 30px; background: #333; color: #eee; padding: 20px">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6>{{'Copyright' | translate}} &copy; {{'2018 Person Managment Project' | translate}}</h6>
            </div>
            <div class="col-md-3">
                <h6>{{'About Us' | translate}}</h6>
                <p>{{'About us text' | translate}}</p>
            </div>
            <div class="col-md-3">
                <h6>{{'Navigation' | translate}}</h6>
                <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i> {{'Home' | translate}}</li>
                    <li><i class="fa fa-link"></i> {{'Links' | translate}}</li>
                    <li><i class="fa fa-user"></i> {{'Careers' | translate}}</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>{{'Follow Us' | translate}}</h6>
                <ul class="list-unstyled">
                    <li><i class="fa fa-twitter"></i> {{'Twitter' | translate}}</li>
                    <li><i class="fa fa-facebook-official"></i> {{'Facebook' | translate}}</li>
                    <li><i class="fa fa-google-plus-official"></i> {{'Google Plus' | translate}}</li>
                    <li><i class="fa fa-linkedin-square"></i> {{'LinkedIn' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>